**/.env
.env
.env.*

frontend/node_modules/
frontend/build/
frontend/.env

backend/node_modules/
backend/.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Editor configs
.vscode/
.idea/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Virtual environments
env/
venv/
ENV/
.venv/